<div class="ota">
    <div class="footer">
        <div class="footer-row">
            <div class="footer-col">
                <h4><b>Категории</b></h4>
                <ul class="links">
                  <li><a href="#">Оральные препараты</a></li>
                  <li><a href="#">Инъекционные препараты</a></li>
                  <li><a href="#">Препараты ПКТ</a></li>
                  <li><a href="#">Гормоны роста</a></li>
                  <li><a href="#">Сармы/Sarms</a></li>
                </ul>
              </div>          
              <div class="footer-col">
                <h4><b>Как оформить заказ</b></h4>
                <ul class="links">
                  <li><a href="#">Оплата</a></li>
                  <li><a href="#">Доставка</a></li>
                  <li><a href="#">Обмен и возрат</a></li>
                  <li><a href="#">Отзывы</a></li>
                  <li><a href="#">Скидки</a></li>
                  <li><a href="#">Новости</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
          <div class="footer-col">
            <h4><b>Новости</b></h4>
            <ul class="links">
              <li><a href="#">Смена домена</a></li>
              <li><a href="#">новый адрес ru-massa.info</a></li>

            </ul>
          </div>
          <div class="footer-col">
            <h4><b>Контакты</b></h4>
            <ul class="links">
              <li><a href="#"><img src="assets/images/call 1.png" alt="">Customer Agreement</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">GDPR</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Media Kit</a></li>
            </ul>
          </div>
       
        </div>

</div>